.input-range {
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ddd;
  height: 8px;
  border-radius: 4px;
}

.input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #007bff;
}

.input-range::-webkit-slider-thumb:hover {
  background-color: #0056b3;
}

.input-range::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #007bff;
}

.input-range::-moz-range-thumb:hover {
  background-color: #0056b3;
}
